*.o
*.d
input-matrix/test.png
input-matrix/scalematrix.py
*.exe
maqao*
*.tmp
*.out.*
*.prv
*.pcf
*.row
input-matrix/testMat.txt
*.err
*.out
results/*
likwid_results.txt
.vscode
input-matrix/mat_dim_493039.txt
input-matrix/mat_dim_59319.txt
